#contentaccessibilitychecker-toolbar-button {
    list-style-image: URL("chrome://contentaccessibilitychecker/skin/icon.png");
}

.toolbarbutton-menu-dropmarker {
  display: none !important;
}

#titleCAC {
	background-color:rgba(247, 0, 119, 0.95);
	font-size:14pt;
	font-weight:bold;
	color:white;
}

#menuTestCriteria {
	font-size:10pt;
	font-weight:bold;
}

#generalInfo {
	font-size:10pt;
	font-weight:bold;
}

#panelWithButton {
	list-style-image: none;
	background-color:#F0F0F0;
}

#generalInfoBox {
	background-color:#FFFFFF;
}

#generalInfoTitle {
	background-color:#F0F0F0;
}

#placeHolderRight {
	background-color:#F0F0F0;
}



